*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


article{
	margin-top: 0px;
}


header{
	background-color: #002B3C;
	color: #00F0FF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center
}

h1{
	font-size: 500%;
}
img{
	display: block;
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;

}


@media(max-width: 768px){
	header #logo
	nav
	nav a
	nav h2
	#container .container,
	p{
		float:none;
		text-align: center;
		width: 100%;
		font-size: 75%;

	}

}
